body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
}

.navbar-logo {
  width: 50px;
}

.navbar-items {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.profile-tab {
  display: flex;
  background-color: #b2a8a8;
  padding: 0.5rem;
  border-radius: 5px;
}

.home-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.text {
  margin: 1.5rem;
  font-size: 1.2rem;
  gap: 12px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  font-size: 24px;
  font-weight: bold;
  color: #007bff; /* Blue color */
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  color: #0056b3; /* Darker blue on hover */
}
